@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    background-color:  rgba(0, 128, 0, 0.651);
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
}
.navbar{
    display: grid;
    grid-template-areas: 
    "logo ingresa"
    "nab nab"
    ;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    ul li{
        list-style: none;
    }
    a{
        grid-area: ingresa;
        width: 70px;
        text-align: end;
        padding: 7px;
        color: black;
        text-decoration: none;
    }
    a:hover{
        color: grey;
    }
    img{
        grid-area: logo;
        width: 70px;
    }
    nav{
        grid-area: nab;
    }
}

main{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    h1{
        text-align: center;
        margin: 20px;
    }
    .p-index{
        display: none;
    }
    .button-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: grey;
        }
    }
    .container-cm{
        text-align: center;
    }
}

footer{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgba(0, 128, 0, 0.514);
    font-family: 'Roboto', sans-serif;
    height: 50px;
    padding: 10px;
}